<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
</head>

<body>
    <h3>Api endpoints</h3>

    <ul>
        <li>GET /api -- returns this home page.
        </li>
        <br>
        <li>GET /api/exchange?fiat={fiat}&crypto={crypto} returns a json object containing the crytocurrency code, fiat code, exchange rate and time of last update.</li>
        
    </ul>
</body>

</html>
    </h2>
</body>

</html>